

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="css/menuStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="navigation">
        <ul>
            <li id='home'>
                <a href="index.html">
                        <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                        <span class="title"><h2 class="logo">sCOOL</h2></span>
                </a>
            </li>
            
            <li>
                <a href="templates/students/">
                    <span class="icon"><i class="fas fa-user-graduate"></i></span>
                    <span class="title">Students</span>
                </a>
            </li>
            <li>
                <a href="templates/trainers/">
                    <span class="icon"><i class="fas fa-chalkboard-teacher"></i></span>
                    <span class="title">Trainers</span>
                </a>
            </li>
            <li>
                <a href="templates/courses/">
                    <span class="icon"><i class="fas fa-code"></i></span>
                    <span class="title">Courses</span>
                </a>
            </li>
            <li>
                <a href="templates/assignments/">
                    <span class="icon"><i class="far fa-file-code"></i></span>
                    <span class="title">Assignments</span>
                </a>
            </li>
            <li>
                <a href="templates/grades/">
                    <span class="icon"><i class="far fa-file"></i></span>
                    <span class="title">Grades</span>
                </a>
            </li>
            
        </ul>
    </div>
</body>


</html>